In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from pathlib import path

In [2]:
# Connect to postgres
database_path = Path("..\EmployeeSQL\")
engine = create_engine(f"sqlite:///{database_path}")
connection = engine.connect()

NameError: name 'user_name' is not defined

In [ ]:
# Create DataFrame based on SQL Titles table
query = 'select * from titles'
df_titles = pd.read_sql_query(query, con=engine)
df_titles.head()

In [ ]:
# Create DataFrame based on SQL Salaries table
query = 'select * from salaries'
df_salaries = pd.read_sql_query(query, con=engine)
df_salaries.head()

In [ ]:
# Merge the titles and salaries DataFrames
merged = pd.merge(df_titles,df_salaries,on='emp_no')
merged.head()

In [ ]:
# Clean up merged DataFrame
merged_drop = merged.drop(columns =['emp_no','from_date_x','to_date_x','from_date_y','to_date_y'])

# Find the average salary by job title
grouped_df = merged_drop.groupby('title').mean()
grouped_formatted = grouped_df.copy()

grouped_formatted['salary'] = grouped_formatted['salary'].map('${:,.2f}'.format)
grouped_formatted

In [ ]:
# Plot the average salary by job title
plt.figure(figsize=(10,6))
plt.bar(grouped_df.index,grouped_df['salary'])
plt.xlabel('Job Title')
plt.ylabel('Average Salary ($)')
plt.title('Average Salary by Job Title',size=13)
plt.grid()
plt.savefig('Images/AvgSalarybyTitle.png')

In [ ]:
# Dispose of engine
engine.dispose()